fastapi
uvicorn[standard]
python-multipart
pydantic
numpy
pillow
pymupdf
python-docx
openpyxl
opencv-python
imageio-ffmpeg
pytesseract
torch
torchvision
timm
scikit-learn
requests
python-dotenv
librosa
soundfile
scipy
transformers
ultralytics
xgboost
dill
tensorflow
